Variables de entorno para la configuración del proyecto

// Conexión a la base de datos PostgreSQL
DATABASE_URL= postgresql://postgres.[reference]:[password]@aws-1-us-west-2.pooler.supabase.com:6543/postgres

// Clave JWT para la autenticación de tokens
JWT_SECRET= 
JWT_EXPIRES_IN=

// puerto de prueba 
PORT=3000

// credenciales para el envío de correos electrónicos
MAIL_USER= proyecto.altea.riwi@gmail.com
MAIL_APP_PASSWORD=  